.card {
    margin: 10px;
}

.remove-btn, .update-btn {
    width: 9rem;
    margin: 15px 10px;
}

.form-section {
    width: 40%;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(164, 164, 164, 0.313);
}

.card .card-title:hover {
    cursor: pointer;
}